{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj nowy</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Dodaj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('todo_index') }}">Wróć do listy</a>
        </li>
    </ul>
{% endblock %}
